.card {
    display: flex;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    text-align: center;

    /* background: url(../images/old-parchment.jpg); */
}

.centered {
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-fill {
    width: 100%;
}


.btn-wrap-text {
    white-space: normal !important;
    word-wrap: break-word !important;
}

.chatbox {
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.grad-red {
    background: linear-gradient(to bottom right, #ff7755 0%, #aa0000 100%);
}

.grad-green {
    background: linear-gradient(to bottom right, #00cc99 0%, #336600 100%);
}

.grad-blue {
    background: linear-gradient(to bottom right, #00ccff 0%, #0000cc 100%);
}

.picker {
    position: absolute;
    z-index: 2000;
    left: 20px;
    top: -130px;
    width: 100px;
    height: 50px;
}

.cloud {
    position: absolute;
    left: 150px;
    top: 30px;
}

.chatbox {
    background-color: white;
}

.w-b {
    background-color: white;
}

.link {
    color: black;
}

.link:hover {
   color: black;
}

.bg-secret {
    background: url(img/secret.jpg);
}

.bg-parchment {
    background: url(img/parchment.jpg);
    background-size: cover;
    outline: black;
}

.bg-input
{
    background: transparent;
    border-style: solid;

}

.vert {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rel {
    position: relative;
}

.border {
    border-color: black;
}